<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/c60be618d4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap" rel="stylesheet"><link rel="stylesheet" href="/css/normalized.css">
  <link rel="stylesheet" href="/css/normalized.css">

  <link rel="stylesheet" href="/css/style2.css">
  <title>100devs Daily Assignments Heatmap</title>
</head>

<body>

  <div class="signout-container btn">
    <a class="signout login-btn" href="/logout"><i class="fas fa-right-from-bracket"></i></a>
    <!-- <a class="signout login-btn" href="/logout">Sign Out</a> -->
  </div>
  
  
    
  <div id="wrapper">

    <form id="express-form" action="/heatmap/add" method="POST">
      <ul>
        <li>
          <label>
            <input type="checkbox" name="anki" value="Anki">
            <div class="icon-box">
              <i class="fa">Technical</i>
            </div>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="bank" value="Bank">
            <div class="icon-box">
              <i class="fa">Behavioral</i>
            </div>
          </label>
        </li>
        <li>
          <label> 
            <input type="checkbox" name="codingChallenge" value="Coding Challenge">
            <div class="icon-box">
              <i class="fa">Coding</i>
            </div>
          </label>
        </li>
        <li>
          <label class="btn-label"> 
            <div class="icon-box btn" form="express-form" type="submit">
              <button class="quick-btn" type="submit">Submit Today’s Assignment</button>
            </div>
          </label>
        </li>
      </ul>

    </form>
  
      
    <header>
      <h1>
        <%= user.userName %>’s Assignment Heatmap
      </h1>
    </header>

      
    <!-- Mood display of year  -->
    <section class="heatmap-section">

      <!-- Vertical Labels for Days of Week -->
      <div class="dayLabelsContainer">
        <div class="dayLabel">Sun</div>
        <div class="dayLabel"></div>
        <div class="dayLabel">Tue</div>
        <div class="dayLabel"></div>
        <div class="dayLabel">Thu</div>
        <div class="dayLabel"></div>
        <div class="dayLabel">Sat</div>
      </div>

      <div class="week-divider"></div>

      <!-- loop to display a box for each day of the year -->
      <% for (let date of allDatesInYear) {%>

        <% let shade %>
        <% if (dayObjectsInYear[date].total == 1) { %>
          <% shade = 'less' %>
        <% } else if (dayObjectsInYear[date].total == 2) { %>
          <% shade = 'average' %>
        <% } else if (dayObjectsInYear[date].total == 3) { %>
          <% shade = 'more' %>
        <% } %>

    
        <a href="/heatmap/edit/<%=date%>">
          <!-- set class to .dayBox and .#; set id to #date_YYYY-MM-DD -->
          <div class="<%= `${dayObjectsInYear[date].day_of_year} dayBox ${shade}` %>" id="<%= 'date_' + date %>">

            <!-- .dayBoxBubble .bubble_YYYY-MM-DD-->
            <div class="dayBoxBubble <%= 'bubble_' + date %>">
              <%= `${dayObjectsInYear[date].tasks.length} on ${dayObjectsInYear[date].month_short} ${dayObjectsInYear[date].date}` %>
            </div>              
            <!-- .notes-indicator -->
            <div class="notes-indicator"></div>
          </div>
        </a>

          <!-- add Month label for the first saturday of each month -->
          <% if(dayObjectsInYear[date].day == 'Saturday') {%>
            <!-- .week-divider -->
            <div class="week-divider"></div>

            <!-- if current day is within the first 7 days of the month, add the Month label -->
            <% if(dayObjectsInYear[date].date <= 7) { %>
                <!-- .monthLabel -->
                <div class="monthLabel"><%= dayObjectsInYear[date].month_short %></div>
            <% } %>
          <% } %>
        <% } %>
    </section>
  
  <!-- wrapper div -->
  </div>

    <script src="/js/heatmap.js"></script>
</body>
</html>

