<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Todos</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%= el._id %>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                
                <!-- add stars for priority -->
                <% for (let i = 0; i < Number(el.priority); i++) { %>
                    <i class="fas fa-star"></i>
                <% } %>
                
                <!-- client side js event listener -->
                <a href='/todos/edit/<%= el._id %>' class="edit">
                    <span class="fas fa-edit"></span>
                </a>

                <!-- Changed <span class='del'> Delete </span> to an icon: -->
                <span class="del"><i class="fas fa-trash"></i></span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>

        <label class="" for="inputGroupSelect01">Priority</label>
        <select name="priority" class="form-select" id="inputGroupSelect01">
            <option selected value="0">Choose...</option>
            <option value="1">Low</option>
            <option value="2">Normal</option>
            <option value="3">Important</option>
            <option value="4">Critical</option>
        </select>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>